@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.attribution {
    font-size: 11px; text-align: center; 
    margin-top: 80px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

body{
    width: 100%;
    margin: auto;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

strong{
    color: black;
}

p{
    margin: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0em 1em 0em;
    padding: 0;
}


.small{
    font-size: 12px;
    letter-spacing: 1px;
}

.background{
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.background-top{
    width: 750px;
    position: fixed;
    top:-60%;
    left: -10%;
    z-index: 2;
}

.background-bottom{
    width: 750px;
    position: fixed;
    bottom: -60%;
    right: -10%;
    z-index: 2;
}

.mainCard{
    height: 400px;
    width: 380px;
    background-color: white;
    margin: 0 auto;
    border-radius: 12px;
    z-index: 3;
}

.top{
    background-image: url("images/bg-pattern-card.svg");
    height: 35%;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.victor{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translate(0, -75%);
    border-radius: 80px;
    border:solid white 7px;
}

.bottom{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.followers, .likes, .photos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 450px){
    .mainCard{
        width:300px;
    }

    .background-top{
        width: 400px;
        top: -30%;
        left: -40%;
    }
}